body {
    font-family: "Avenir Next", "Helvetica Neue", Arial,-apple-system, Roboto, sans-serif;
}

.message-list {
    width: 100%;
    display: list-item;
    margin-top: 2%;
    list-style: none;
}

.message-list-card {
    width: 35%;
    height: auto;
    margin: 10px auto 0;
    border: 2px solid #f1f1f1;
    border-radius: 0.7rem;
}

.message-list-card-img-block {
    text-align: center;
}

.message-list-card-img {
    width: 40%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    vertical-align: middle;
}

.message-list-card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.message-list-card_tag {
    margin-top: 10px;
}

.message-list-card-body-mt {
    margin-top: .25rem!important;
}

.message-list-card-footer {
    padding: .5rem 1rem;
    background-color: #fafafa;
    border-top: 2px solid #f1f1f1;
}

.message-list-card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.message-list-card-footer-user-row {
    display: flex;
}

.message-list-card-footer-user-row-button {
    display: inline-block;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: .5s;
    border: 2px solid #f6cd4c;
    padding: .3rem .6rem;
    font-size: 0.8rem;
    border-radius: 0.7rem;
}

.message-list-card-footer-user-row-button:hover {
    background-color: #f6cd4c;
}

.button-edit {
    background-color: #f6cd4c;
    color: #fff;
    padding-top: 6px;
}

.message-list-card-footer-user-likes {
    margin: auto;
    display: inline;
    justify-content: center!important;
    align-items: center!important;
    align-self: center!important;
    text-decoration: none!important;
    color: #212529;
}

.heart-color {
    color: #f9423a;
}

.message-list-card-footer-user-delete-form {
    margin: 0;
}

.button-delete {
    color: #fff;
    background: #525252;
    border: 2px solid #525252;
    height: 32px;
    border-radius: 0.7rem;
}

.message-list-card-footer-user-row-button.button-delete:hover {
    background: #525252;
}

.no-messages_text {
    font-weight: 600;
    font-size: 20px;
}